{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="row home-page">
        <div class="col-12 hero-container" id="title">
                <h4 class="text-center">
                    <a href="{% url 'products' %}" 
                    class="rounded-pill btn text-light btn-main bg-dark box-shadow text-uppercase">
                        View Products
                    </a>
                </h4>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}

