    <!-- Footer Text -->
    <div class="row">
        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Who we are</h5>
          <div class="divider"><i class="fas fa-users"></i></div>
          <p class="footer-text">
            We got the latest drops on your favorite sneaks. We're here to up your game.
            <br><br>
           For the latest details on drops, tap in with your details below to stay up to date
          </p>
        </div>

        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Newsletter</h5>
          <div class="divider"><i class="fas fa-envelope"></i></div>
          <p class="footer-text">
            Enter your e-mail if you like
          </p>
          <!-- Footer Form --> 
          <form method="POST" action="{% url 'home' %}">
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <div class="form-outline form-white mb-4">
                  {% csrf_token %}
                  {{ subscriber_form }}
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-auto">
                  <button type="submit" class="rounded-pill btn text-light btn-main bg-dark box-shadow text-uppercase">
                    <i class="fas fa-rss"></i>
                    Subscribe
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!-- End Form -->
        </div>

        <div class="col-md-4 col-sm-12 mb-4 mb-md-0">
          <h5 class="text-dark">Support Us</h5>
          <div class="divider"><i class="fas fa-hands-helping"></i></div>
          <p class="footer-text">
            Help us get our name out there, tap into the socials.
          </p>
          <!-- Social media -->
              <a class="btn btn-outline-black btn-floating rounded-circle" href="https://www.facebook.com/" 
                target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
              <a class="btn btn-outline-black btn-floating m-3 rounded-circle" href="https://twitter.com/?lang=en" 
                target="_blank" role="button"><i class="fab fa-twitter"></i></a>
              <a class="btn btn-outline-black btn-floating m-1 rounded-circle" href="https://www.tiktok.com/" 
                target="_blank" role="button"><i class="fab fa-tiktok"></i></a> 
              <a class="btn btn-outline-black btn-floating m-1 rounded-circle" href="https://www.instagram.com/" 
                target="_blank" role="button"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    
      <!-- Copyright -->
    <div class="text-center text-secondary my-1">
      <span class="mb-5" id="copyright">© 2022 Copyright | Developed by Shaf
        <a href="https://github.com" target="_blank"></a>
      </span>
    </div>