<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=desc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?products=Mens,Kids,Womens" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?brand=Nike" class="dropdown-item text-dark fw-light">Nike</a>
                <a href="{% url 'products' %}?brand=Jordan" class="dropdown-item text-dark fw-light">Jordan</a>
                <a href="{% url 'products' %}?brand=Off-White" class="dropdown-item text-dark fw-light">Off-White</a>
                <a href="{% url 'products' %}?brand=Bearbrick" class="dropdown-item text-dark fw-light">Bearbrick</a>
                <a href="{% url 'products' %}?brand=Nike,Jordan,Off-White,Bearbrick" class="dropdown-item text-dark fw-light">All Brands</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=Accessories, Sneaky Trees" class="dropdown-item">Shoe Care</a>
                <a href="{% url 'products' %}?category=Collectables" class="dropdown-item">Collectables</a>
                <a href="{% url 'products' %}?category=Caps" class="dropdown-item">Caps</a>
                <a href="{% url 'products' %}?category=Bags" class="dropdown-item">Bags</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=Mens" class="dropdown-item">Mens</a>
                <a href="{% url 'products' %}?category=Womens" class="dropdown-item">Womens</a>
                <a href="{% url 'products' %}?category=Kids" class="dropdown-item">Kids</a>
                <a href="{% url 'products' %}?category=Mens,Womens,Kids" class="dropdown-item">All</a>
            </div>
        </li>
    </ul>
</div>